button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 8px;
margin: 15px;


border-radius: 6px;
padding: 12px 20px;
gap: 8px;

width: 320px;
height: 47px;

}
.tab{
    background-color: blueviolet;
    color: white;
  

}

.footer{
    display: flex;
flex-direction: column;

padding: 0px;
align-items:flex-end;
margin-top: 1px;


height: 95px;

bottom:0%;
position: absolute;
top: 917px;
left: 0;
bottom: 0;
height: 100px;
width: 100%;



background: #fff;
box-shadow: 0px -4px 8px rgba(45, 61, 84, 0.06)
}