.greeting3{
    width: 528px;
height: 38px;
margin-left: 20px;
    margin-top: 125px;

font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 38px;
}
.top3{
    display: flex;
    margin-top: 15px;
   
}



.checkboxes{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 25px;
}

.checkbox{
    display: flex;
    justify-content: space-between;
}
 Input :checked {
        background-color: purple;
        border-color: purple;
      }
 
